<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vfa.ttbot.dao.TrendLogMapper">

	<insert id="insertTrendLog" parameterType="com.vfa.ttbot.model.TrendLog" useGeneratedKeys="true"
	    keyProperty="id">
	  insert into trend_log (id_trend, date_time, position)
	  values (#{idTrend}, #{dateTime}, #{position})
	</insert>
	
	<select id="searchTrendLogsByDate" resultMap="trendLogResult">
		<![CDATA[
	  		select * from trend_log where date_time > #{0} and date_time < #{1} order by date_time desc, position asc
	  	]]>
	</select>

	<resultMap id="trendLogResult" type="com.vfa.ttbot.model.TrendLog">
	  <result property="id" column="id"/>
	  <result property="idTrend" column="id_trend"/>
	  <result property="dateTime" column="date_time"/>
	  <result property="position" column="position"/>
	</resultMap>
</mapper>
